#masthead{
	/*background-color: #1d2327;*/
	color: #333;
	box-shadow: 0px 0px 3px #0002;
	z-index: 10;
	position: relative;
}

.nav-wrap{
	display: grid;
	grid-template-columns: 140px auto 140px;
	grid-gap: 8px;
}
.mono{
	font-family: 'Noto Sans Mono', monospace;
}
.noto{
	font-family: 'Noto Sans Thai', sans-serif;
}
.nav-block-site{
	/*font-family: 'Noto Sans Mono', monospace;*/
	/*text-shadow: 2px 2px 0px rgb(219 39 119);*/
	color:rgb(236 72 153);
}
.nav-block-menu{
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: 400;
	/*letter-spacing: -0.03em;*/
}
.nav-block-user{
	text-align: right;
	font-weight: 400;
	justify-content: flex-end;
}
.author-pic-wrap{
	overflow: hidden;
	border-radius: 6px;
}
.author-pic{
	background-size: cover;
	background-position: center;
}

#author_bio_header{
	display: grid;
	grid-template-columns: 200px auto;
	column-gap: 1rem;
}

.author-bio-wrap {
	display: flex;
	align-items: flex-end;
}

.icon-wrap{
	width: 2em;
	text-align: center;
	display: inline-block;
}

.box-wrap{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1rem;
}
/*-- Mobile Version --*/
@media (max-width: 1024px) {
	.box-wrap{
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (max-width: 768px) {
	.box-wrap{
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 660px) {
	.box-wrap{
		grid-template-columns: 1fr;
	}
}
.box-iframe-wrap {
	display: flex;
	position: relative;
	width: 100%;
	padding-top: 62.5%;
}
.box-iframe{
	width: 200% !important;
	height: 200% !important;
	max-width: 200% !important;
	max-height: 200% !important;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	transform: scale(.5);
	transform-origin: top left;
	background-color: white;
}

.sign-in{
	display: inline-block;
	padding: 0.3em 1em;
	border-radius: 10em;
	color: white;
	background-color: #ec4899;
}
.sign-in:hover{
	background-color: #da2877;
}
.nav-profile-pic{
	width: 32px;
	height: 32px;
	border-radius: 100%;
	/*border-radius: 4px;*/
	background-size: cover;
	background-position: center;
	margin-right: 10px;
}
.nav-profile {
	/*width: 100%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	/*padding: 10px 20px;*/
	padding: 6px 6px 6px 6px;
	border-radius: 10em;
	box-sizing: border-box;
}
.nav-profile-name{
	white-space: nowrap;
	max-width: 90px;
	overflow: hidden;
	font-weight: bold;
	position: relative;
	cursor: default;
	font-size: .8rem;
	box-sizing: border-box;
}
.nav-profile-name::after {
	content: " ";
	width: 2em;
	background: linear-gradient(-90deg, #eeeeee, transparent);
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	height: 100%;
}
.nav-block {
	align-items: center;
	display: flex;
}

ul#menu-main-menu {
	display: flex;
	color: #555;
	font-size: .9rem;
}
ul#menu-main-menu li{
	margin: 0 1em;
	/*font-weight: bold;*/
}

.nav-profile-wrap{
	position: relative;
}
.nav-toggle-wrap{
	display: none;
	position: absolute;
	width: 140px;
	padding-top: 4px;
}
.nav-toggle {
	width: 100%;
	box-sizing: border-box;
	padding: .5em 1em;
	font-size: .9rem;
	background: #fff;
	/*margin-top: 0.5em;*/
	border-radius: 6px;
	box-shadow: 0px 0px 5px #0001;
	text-align: left;
}
.nav-toggle h5{
	margin: .5em 0;
}
.nav-profile-wrap:hover .nav-toggle-wrap {
	display: block;
}

.single-course #masthead {
	box-shadow: none;
}

.single-course .nav-block-site{
	color: #fff;
}

.single-course .menu-item a{
	color: #fff9;
}
.single-course .menu-item a:hover{
	color: #fffe;
}

.single-course .nav-profile{
	background-color: #fff;
}

.single-course .nav-profile-name::after{
	background: linear-gradient(-90deg, #fff, transparent);
}

.branches-owner{
	display: grid;
	grid-template-columns: 40px auto;
	grid-auto-rows: 40px;
	grid-gap: 8px;
	align-items: end;
}
.score_form {
	background-color: transparent;
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-radius: 3px;
	text-align: center;
}
.exercise_scoring{
	display: grid;
	grid-template-columns: 80px 60px auto;
	grid-auto-rows: 40px;
	grid-gap: 8px;
	margin-top: 12px;
	font-size: 1.2rem;
}
.exercise_scoring_btn{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background-color: #4d7c0f;
	background-image: linear-gradient(134deg, #a6e22e, transparent);
	cursor: pointer;
	font-weight: bold;
}
.exercise_scoring_max{
	display: flex;
	justify-content: center;
	align-items: center;
}

.studen-table{
	--c: 2;
}
.studen-table-row:nth-child(odd){
	background: #f9f9f9;
}
.studen-table-row{
	display: grid;
	grid-template-columns: 48px 400px repeat(var(--c), 60px);
	grid-gap: 12px;
	align-items: center;
	width: max-content;
	padding:12px 24px;

}
.archive-wrap h2.entry-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: .5em;
}

.archive-wrap footer.entry-footer,
.archive-wrap .entry-content{
	display: none;
}

.archive-wrap article {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column-reverse;
}